{% extends '../base.html'%}
{% load static %}
{%block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'accounts.css' %}">

{% load crispy_forms_tags %}

    <html>
        <head>
            <div class="login-modal">
                <div class="login-container">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <p class="justify-right">Don't have an account?<a href = "../../register">Click here</a></p>
                </div>
            </div>
        </head>
    </html>


    {% include "css_fit.html" %}

{% endblock %}