{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if userInfo != None %}
        <p>weight: {{userInfo.weight}}</p>
        <p>age: {{userInfo.age}}</p>
        <p>sex: {{userInfo.sex}}</p>
        <p>height: {{userInfo.height}}</p>
    {% else %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-success">SignUp</button>
        </form>
    {% endif %}
{% endblock %}


