{% extends './base.html'%}
{%block content%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <html>
        <head>
            {% for o in user %}
                <h1 contenteditable = "true" class ="myh"> {{o.first_name}} {{o.last_name}}</h1>
            {%endfor%}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
              </form>
              <div>
                  <h2>
                      {{first_name}} {{last_name}}
                  </h2>
              </div>
        </head>
    </html>


    {% include "css_fit.html" %}

{% endblock %}