<script>

function call_ajax(url, form, success_callback, error_handler, query_string) {
    // wrapper for a ajax calls
    var post_data = query_string != undefined ? query_string : $(form).serialize();
    $.ajax({
        url: url,
        type: "POST",
        data: post_data,
        error: function (error) {
            console.log("error calling: " + url, error);
            error_handler(error.responseText);
        }, 
        success: function(response) {
            success_callback(response);
        }

        
    });

}




</script>